@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");

#root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
	background: rgba(25, 25, 27, 1);
	width: 10px;
}

::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 10px; */
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(125deg, #3498db, #34495e); */
	background: rgb(103, 103, 109);  
	border-radius: 4px
}
